body{
  background-color: #EBEBEB;
  margin: 0 auto;
  padding: 0;
  width: 980px;
}

.page-header{
  margin: 0;
  padding: 0;
  height: 100px;
  position: relative;
  background-color: #21272B;
}

.page-header img{
  position: absolute;
  top: 22.5%;
  left: 3%;
}

.page-header h1, .page-header h2{
  margin: inherit;
  padding: inherit;
  position: absolute;
  left: 8%;
  font-size: 24px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.page-header h1{
  top: 25%;
  color: #1BB4E8;
}

.page-header h2{
  top: 55%;
  color: #FFFFFF;
}

.page-header ul{
  margin: inherit;
  padding: inherit;
  position: absolute;
  top: 65%;
  left: 35%;
  list-style-type: none;
  font-size: 12px;
  color: #FFFFFF;
}

.page-header li{
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  border-right: 1px solid white;
}

.page-header li:last-child{
  border-right: none;
}

.page-header a{
  text-decoration: none;
  color: #FFFFFF;
}

.page-header a:hover{
  color: #1BB4E8;
}

.page-header ul li:hover a, body.homepage li.homepage a,
body.aluguel_page li.aluguel_page a,
body.destinos_page li.destinos_page a,
body.tripulacao_page li.tripulacao_page a,
body.contato_page li.contato_page a{
  color: #1BB4E8;
}

.main-advertise{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
}

#advertise-img{
  margin: inherit;
  padding: inherit;
  width: 100%;
  height: auto;
  display: block;
}

.main-advertise .advertise-box{
  margin: inherit;
  padding: inherit;
  width: 460px;
  height: 220px;
  position: absolute;
  bottom: 12%;
  right: 3%;
  background-color: rgb(26, 50, 67, 0.9);
}

#advertise-icon{
  margin: inherit;
  padding: inherit;
  height: 35px;
  width: auto;
  position: absolute;
  top: 61%;
  left: 4%;
}

#advertise-text-01{
  margin: inherit;
  padding: inherit;
  width: 85%;
  height: 30%;
  position: absolute;
  top: 12%;
  left: 6%;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  color: #FFFFFF;
}

#advertise-text-02{
  margin: inherit;
  padding: inherit;
  width: 80%;
  height: 30%;
  position: absolute;
  top: 58%;
  left: 12%;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4;
  color: #FFFFFF;
}

#advertise-text-02 mark{
  background: none;
  font-size: 22px;
  color: #C6B07F;
}

.about{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 570px;
  position: relative;
  background-color: #FFFFFF;
}

.about .info{
  padding: inherit;
  margin-top: 2%;
  margin-left: 3%;
  float: left;
}

.about #info-01{
  width: 47%;
}

.about #info-02{
  width: 44%;
}

.about .info .info-title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
#info-01 .info-title{
  background-color: #1BB4E8;
}

#info-02 .info-title{
  background-color: #C6B07F;
}

.info-title img{
  margin: auto 1.5%;
}

.info h2, .info h3, .info p{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.info h2{
  font-size: 26px;
}

.info h3{
  font-size: 20px;
}

.info p{
  height: 100px;
  font-size: 16px;
}

.info .info-img-container{
  width: 100%;
  height: auto;
  position: relative;
}

#info-01 .info-img{
  width: 100%;
  height: auto;
}

#info-02 .info-img{
  width: 49.4%;
  height: auto;
}

footer{
  height: 80px;
  width: 100%;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
}
